<mat-card>
  <div class="form-card form-container">
    <h1>Reset password</h1>
    <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
      Please enter your email. We will email you a link to reset your password.
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" required>
        <mat-error>Please enter a valid email address</mat-error>
      </mat-form-field>
      <br/>
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid || submitted">
        <mat-spinner *ngIf="submitted" diameter="32"></mat-spinner>
        <span *ngIf="!submitted">Send</span>
      </button>
    </form>
  </div>
</mat-card>
