<mat-card *ngIf="details && !details.verified">
  <h2>Email verification pending</h2>
  <span>
    We've sent you an email at <span class="hecate-primary-color">{{details.email}}</span>. Please follow the link in the email to verify your email and complete your registration.
    <br/><br/>
    Wrong email? No problem! You can change your email here.
  </span>
</mat-card>

<mat-card>
  <img height="200em" [src]="image"/>
  <h1>{{welcomeText}}</h1>
  <span>
    This is an example web application using the Hecate authentication service. You can log in or register by using the links above.
    <br/><br/>
    You can also check out the source code for this web application, as well as the authentication service, by clicking on the GitHub icon at the bottom right.
    <br/><br/>
    Happy authenticating!
  </span>
</mat-card>