<mat-card>
  <div class="form-card form-container">
    <h2>Change password</h2>
    <form class="form-container" [formGroup]="form" (ngSubmit)="changePassword()">
      <mat-form-field>
        <input matInput placeholder="Current password" type="password" minlength="8" maxlength="20"
               formControlName="oldPassword" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="New password" type="password" minlength="8" maxlength="20"
               formControlName="newPassword" required>
        <mat-error *ngIf="newPassword.errors?.minlength">{{passwordValidationError}}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="(form.dirty || form.touched) && form.errors?.samePassword">Current and
        new password cannot be the
        same
      </mat-error>
      <br/>
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid || submitted">
        <mat-spinner *ngIf="submitted" diameter="32"></mat-spinner>
        <span *ngIf="!submitted">Change Password</span>
      </button>
    </form>
  </div>
</mat-card>
