<div mat-dialog-content>
  Please confirm your password.
</div>
<form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Password" type="password" minlength="8" maxlength="20" formControlName="password"
           required>
    <mat-error>{{passwordValidationError}}</mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button [disabled]="!form.valid" color="primary" mat-button type="submit">{{data.action}}</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</div>
