<mat-card>
  <div class="form-card form-container">
    <h1>Reset password</h1>
    <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Password" type="password" minlength="8" maxlength="20" formControlName="newPassword"
               required>
        <mat-error>{{passwordValidationError}}</mat-error>
      </mat-form-field>
      <br/>
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid || submitted">
        <mat-spinner *ngIf="submitted" diameter="32"></mat-spinner>
        <span *ngIf="!submitted">Reset</span>
      </button>
    </form>
  </div>
</mat-card>
