html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.form-card {
  padding: 16px;
}

mat-spinner {
  margin: 4px auto;
}
