<mat-card *ngIf="!notes" class="spinner-card">
  <mat-spinner diameter="48"></mat-spinner>
  <span>Loading your notes...</span>
</mat-card>

<mat-card *ngIf="notes?.length === 0" class="spinner-card">
  <mat-icon>sentiment_dissatisfied</mat-icon>
  <br/>
  <span>You have no notes!</span>
  <br/>
  <span>Click on the round button below to create one.</span>
</mat-card>

<mat-card class="note" *ngFor="let note of notes">
  <mat-card-content>
    <h2>{{note.title}}</h2>
    <p>{{note.content}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="delete(note)" mat-button>Delete</button>
    <button (click)="edit(note)" mat-button>Edit</button>
  </mat-card-actions>
</mat-card>

<button (click)="add()" class="fab" mat-fab aria-label="add note">
  <mat-icon>note_add</mat-icon>
</button>
